*{
    margin: 0;
    padding: 0;
}

h3 {
    margin-left: 20px;
    color: black;
}

h5 {
    margin-left: 20px;
    color: grey;
    font-size: 12px;
}

.coluna {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(15, 1fr);
}

.coluna > div:nth-child(1) {
    background-color: #FFC0CB;
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.coluna > div:nth-child(2) {
    background-color: #FFC0CB;
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1;
}

.coluna > div:nth-child(3) {
    background-color: #FFC0CB;
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1;
}
.coluna > div:nth-child(4) {
    background-color: #FFC0CB;
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1;
}
.coluna > div:nth-child(5) {
    background-color: #FFC0CB;
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1;
    align-items: center;/*Alinhando o texto*/
    text-align: center;/*Alinhando o texto*/
}

.aulas1 {
    background-color: #FFC0CB;
    width: 150px;
    height: 40px;
    padding: 0;/*Consigo centralizar o texto com o padding ?*/
    border-radius: 5px;
    display: grid;
    grid-column: 2;
    grid-row: 1;
    align-items: center;/*Alinhando o texto*/
    text-align: center;/*Alinhando o texto*/
}

.aulas2 {
    background-color: #FFC0CB;
    width: 150px;
    height: 40px;
    padding: 0;/*Consigo centralizar o texto com o padding ?*/
    border-radius: 5px;
    display: grid;
    grid-column: 3;
    grid-row: 2;
    align-items: center;/*Alinhando o texto*/
    text-align: center;/*Alinhando o texto*/
}

.aulas3 {
    background-color: #FFC0CB;
    width: 150px;
    height: 40px;
    padding: 0;/*Consigo centralizar o texto com o padding ?*/
    border-radius: 5px;
    display: grid;
    grid-column: 4;
    grid-row: 3;
    align-items: center;/*Alinhando o texto*/
    text-align: center;/*Alinhando o texto*/
}

.aulas4 {
    background-color: #FFC0CB;
    width: 150px;
    height: 40px;
    padding: 0;/*Consigo centralizar o texto com o padding ?*/
    border-radius: 5px;
    display: grid;
    grid-column: 5;
    grid-row: 4;
    align-items: center;/*Alinhando o texto*/
    text-align: center;/*Alinhando o texto*/
}

.aulas5 {
    background-color: #FFC0CB;
    width: 150px;
    height: 40px;
    padding: 0;/*Consigo centralizar o texto com o padding ?*/
    border-radius: 5px;
    display: grid;
    grid-column: 6;
    grid-row: 5;
    align-items: center;/*Alinhando o texto*/
    text-align: center;/*Alinhando o texto*/
}


