#cabecalho {
    height: 632px;
    width: 5%;
    background: rgb(0, 255, 191);
    border-radius: 5px;
    float: left;
}

#segunda {
    height: 500px;
    width: 18%;
    background: rgb(255, 255, 255);
    border: solid rgb(135 206 235);
    float: left;
    margin: 1px;
    border-radius: 5px;
}

#segunda .dia {
    position: relative;
    height: 50px;
    background: rgb(135 206 235);
}

#segunda .dia {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

#segunda .aulas ul{
    list-style: none;
    margin-top: 100px;

    font-weight: 600;
    font-size: 15px;
    line-height: 40px;

    color: #777777;
}

#terca {
    height: 500px;
    width: 18%;
    background: rgb(255, 255, 255);
    border: solid rgb(135 206 235);
    float: left;
    margin: 1px;
    border-radius: 5px;
}


#terca .dia {
    position: relative;
    height: 50px;
    background: rgb(135 206 235);
}

#terca .dia {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

#terca .aulas ul{
    list-style: none;
    margin-top: 100px;

    font-weight: 600;
    font-size: 15px;
    line-height: 40px;

    color: #777777;
}

#quarta { 
    height: 500px;
    width: 18%;
    background: rgb(255, 255, 255);
    border: solid rgb(135 206 235);
    float: left;
    margin: 1px;
    border-radius: 5px;
}

#quarta .dia {
    position: relative;
    height: 50px;
    background: rgb(135 206 235);
}

#quarta .dia {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

#quarta .aulas ul{
    list-style: none;
    margin-top: 100px;

    font-weight: 600;
    font-size: 15px;
    line-height: 40px;

    color: #777777;
}

#quinta {
    height: 500px;
    width: 18%;
    background: rgb(255, 255, 255);
    border: solid rgb(135 206 235);
    float: left;
    margin: 1px;
    border-radius: 5px;
}

#quinta .dia {
    position: relative;
    height: 50px;
    background: rgb(135 206 235);
}

#quinta .dia {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

#quinta .aulas ul{
    list-style: none;
    margin-top: 100px;

    font-weight: 600;
    font-size: 15px;
    line-height: 40px;

    color: #777777;
}

#sexta {
    height: 500px;
    width: 18%;
    background: rgb(255, 255, 255);
    border: solid rgb(135 206 235);
    float: left;
    margin: 1px;
    border-radius: 5px;
}

#sexta .dia {
    position: relative;
    height: 50px;
    background: rgb(135 206 235);
}

#sexta .dia {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;

    color: white;
}

#sexta .aulas ul{
    list-style: none;
    margin-top: 100px;

    font-weight: 600;
    font-size: 15px;
    line-height: 40px;

    color: #777777;
}

#footer {
    height: 120px;
    width: 93%;

    float: left;
    margin-top: 5px;
    margin-left: 1px;
    border-radius: 5px;

    background: pink;
}