<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Calendário de Aulas</title>
</head>

<h2 id="usuario"></h2>

<body>
    <h3>Olá, usuário</h3>
    <h5>Consulte as aulas dessa semana!</h5>
        <section class="coluna">
            <div>
                <p>Seg 14</p>
                <p>Matéria</p>
            </div>

            <div>
                <p>Ter 15</p>
                <p>Matéria</p>
            </div>

            <div>
                <p>Qua 16</p>
                <p>Matéria</p>
            </div>

            <div>
                <p>Qui 17</p>
                <p>Matéria</p>
            </div>

            <div>
                <p>Sex 18</p>
                <p>Matéria</p>
            </div>
        
            <div class="aulas1">
                <p>Aula de gramática</p>
            </div>

            <div class="aulas2">
                <p>Aula de gramática</p>
            </div>

            <div class="aulas3">
                <p>Aula de gramática</p>
            </div>

            <div class="aulas4">
                <p>Aula de gramática</p>
            </div>

            <div class="aulas5">
                <p>Aula de gramática</p>
            </div>
        </section>
</body>
</html>

