* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --backgroud: #f1f0f5;
  --white: #ffffff;
  --button: #d9dcf2;
}

body {
  background-color: #ded8d8;
  background-image: url("/img/Study.svg");
  background-size: 30% 30%;
}

.box {
  display: flex;
  margin: 10px auto;
  border-radius: 15px;
  list-style: none;
  color: #fff;
  font-size: 15px;
}

.box form {
  background-color: #000;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
}

fieldset {
  border: 3px solid black;
  border-radius: 15px;
  padding: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
}

fieldset legend {
  text-align: center;
}

fieldset label:not(:first-of-type) {
  margin-top: 10px;
}

p {
  text-align: center;
}

main {
  display: flex;
  height: 100vh;
}

.box button:hover {
  background: #51b3ec;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: pointer;
  transition: 0.5s;
}

.box button {
  font-size: 18px;
  margin-top: 5px;
  width: 100%;
  height: 65;
  justify-content: center;
  background: var(--button);
  padding: 8px 15px 8px 15px;
  border: none;
  border-radius: 20px;
  color: #fff;
}