/* formulario de tarefas */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.box {
  display: flex;

  border-radius: 15px;
  list-style: none;
  color: #fff;
  font-size: 15px;
}

.box form {
  background-color: #000;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
}

fieldset {
  border: 3px solid black;
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

fieldset legend {
  text-align: center;
}

fieldset label:not(:first-of-type) {
  margin-top: 10px;
}

p {
  text-align: center;
}

body {
  background-color: #ded8d8;
  background-image: url("/img/Study.svg");
  background-size: 30% 30%;
}
