header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #636363;
  padding: 20px;
}

header nav {
  flex-grow: 1.0;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;

  font-weight: 600;
  font-size: 20px;
  line-height: 33px;

  color: #fff;
}


.margin-list li {
  margin: 0 10px;
}

.margin-list li a {
  text-decoration: none;
}

header img{
  margin-left: 20px;
}
