header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #193446;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header nav {
  flex-grow: 1;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;

  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  color: #fff;
}

.margin-list li {
  margin: 0 10px;
}

.margin-list li a {
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}

.margin-list a:hover {
  background: #51b3ec;
  padding: 20px;
}

header img {
  margin: 7px 20px;
  max-width: 50px;
}
