.sidebar{
  position: fixed;
  width: 8.1%;
  height: 603px;
  padding-top: 30px;
  left: 0;
  background: #193446;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: left;
}

/* aqui quand estiver a imagem do usuario */

/* .sidebar .image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
} */

.sidebar h2{

  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{

  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property:background ;

}

.sidebar a:hover{

  background: #51b3ec;

}

.sidebar ion-icon{

  padding-right: 10px;

}

label #sidebar_btn{

  z-index: 1;
  position: fixed;
  left: 300px;
  color: #fff;
  font-size: 25px;
  margin: 5px 0;
  cursor: pointer;

}

label #sidebar_btn:hover{

  color: #51b3ec; 

}