<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./css/classOfWeek.css">   
    
    <title>Aulas da Semana</title>
</head>

<body>

    <div class="sidebar">
      
        <!--imagem de perfil  -->
        <img src="" alt="">
     
          <!-- ALTERAR ICONES -->
     
     
        <h2>foto de perfil</h2>
           
           <a href="#"><ion-icon name="grid-outline"></ion-icon><span>Dashboard</span></a>
           <a href="#"><ion-icon name="calendar-outline"></ion-icon><span>Calendario</span></a>
           <a href="#"><ion-icon name="home-outline"></ion-icon><span>Tarefas de casa</span></a>
           <a href="#"><ion-icon name="chatbox-ellipses-outline"></ion-icon><span>Chat</span></a>
           <a href="#"><ion-icon name="people-outline"></ion-icon><span>Professores</span></a>
       
       
       </div>
       
       <!-- sidebar final -->
         
       <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
       <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>







    <%- include('./partials/header') %>

    <div class="semanas"> 

    <% aulas.forEach((aula) => { %>
        <div id="segunda">
            <div class="dia">
                
                <%= aula.dia_semana %>
                
            </div>
            <div class="aulas">
                <ul>
                    <li>13h - Aula de Gramática</li>
                    <li>13h - Aula de Gramática</li>
                    <li>13h - Aula de Gramática</li>
                    <li>13h - Aula de Gramática</li>
                    <li>13h - Aula de Gramática</li>
                </ul>
            </div>
        </div>
    <% }) %>


                         </div>
   

    <%- include('./partials/footer') %>

</body>
</html>

<!-- Teste Branch -->