<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" media="screen"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menuLateral.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cursos.css">
    
    <title>Web School</title>

</head>

<body>

    <%- include('./partials/header') %>

    <main>
        <%- include('./partials/menu') %>

        <div class="box">
            <legend>
                <strong><u>Cursos</u></strong>                
            </legend>
        </div>
        
        <div class="container">

            <div class="cards">FULL STACK</div>
            <div class="cards">LinkedIn</div>
            <div class="cards">HTML/CSS</div>

        </div>
                
    </main>

    <%- include('./partials/footer') %>

</body>

</html>
