<footer>
  <ul>
    <li class="title">INFORMAÇÕES</li>
    <li>Sobre nós</li>
    <li>Perguntas frequentes</li>
    <li>Politica de privacidade</li>
  </ul>

  <ul>
    <li class="title">SOCIAIS</li>
    <a href="https://pt-br.facebook.com/">
      <ion-icon name="logo-facebook" />
    </a>
    <a href="https://www.instagram.com/">
      <ion-icon name="logo-instagram" />
    </a>
    <a href="https://www.linkedin.com/">
      <ion-icon name="logo-linkedin" />
    </a>
    <a href="https://twitter.com/?lang=pr">
      <ion-icon name="logo-twitter" />
    </a>
    <a href="https://www.youtube.com/">
      <ion-icon name="logo-youtube" />
    </a>
  </ul>

  <ul>
    <li class="title">ENDEREÇO</li>
    <li>Av. Paulista - nº1000</li>
    <LI>CEP: 00000-00</LI>
  </ul>

  <ul>
    <li class="title">FALE CONOSCO</li>
    <li>TEL: 011-99999-9999</li>
    <li>E-MAIL: webschool@gmail.com</li>
  </ul>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</footer>