<footer>

    <ul>

     <li class="title">INFORMAÇÕES</li>
     <br>
     <li>Sobre nós</li>
     <li>Perguntas frequentes</li>
     <li>Politica de privacidade</li>       
 
    </ul>

    <ul>
        <li class="title">SOCIAIS</li>
        <br>
        <a href=""><ion-icon name="logo-facebook"></ion-icon><span></span></a>
        <a href=""><ion-icon name="logo-instagram"></ion-icon><span></span></a>
        <a href=""><ion-icon name="logo-linkedin"></ion-icon></span></a>
        <a href=""><ion-icon name="logo-twitter"></ion-icon></span></a>
        <a href=""><ion-icon name="logo-youtube"></ion-icon></span></a>

    </ul>

    <ul>
     <li class="title">ENDEREÇO</li>
     <br>
     <li>Av. Paulista - nº1000</li>
     <LI>CEP: 00000-00</LI>
    </ul>

    <ul>
     <li class="title">FALE CONOSCO</li>
     <br>
     <li>TEL: 011-99999-9999</li>
     <li>E-MAIL: webschool@gmail.com</li>
    </ul>



    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

 </footer>

    