<header>
  <img src="../../public/css/img/Logo.svg" alt="webschool">
  <nav>
    <ul class="margin-list">
      <li>
        <a href="/menu/unidades">UNIDADES</a>
      </li>
      <li>
        <a href="/menu/cursos">CURSOS</a>
      </li>
      <li>
        <a href="/menu/faleConosco">FALE CONOSCO</a>
      </li>
    </ul>
  </nav>

</header>