<!--
<header>
    <div id="header">
        Menu
    </div>
</header>
-->

<!-- sidebar começo -->
<div class="sidebar">
         
    <center>
  <!--imagem de perfil  -->
  <img src="" alt="">
  <h2>Perfil</h2>
     </center>

    


     <a href="#"><ion-icon name="person-outline"></ion-icon><span>Perfil</span></a>
     <a href="#"><ion-icon name="cog-outline"></ion-icon><span>Cadastro</span></a>
     <a href="#"><ion-icon name="duplicate-outline"></ion-icon><span>Adicionar Atividade</span></a>
     <a href="#"><ion-icon name="book-outline"></ion-icon><span>Aulas</span></a>
     <a href="#"><ion-icon name="close-circle-outline"></ion-icon><span>Logout</span></a>


 </div>



 <!-- sidebar final -->