<header>
    <img src="../../public/css/img/Logo.svg" alt="webschool">
    <nav>
        <ul class="margin-list">
            <li>UNIDADES</li>
            <li>CURSOS</li>
            <li>FALE CONOSCO</li>
        </ul>
    </nav>
    
</header>