<div class="sidebar">
  <h2>Perfil</h2>

  <a href="/perfil">
    <ion-icon name="person-outline"></ion-icon><span>Perfil</span>
  </a>
  <a href="/aulas/registro">
    <ion-icon name="duplicate-outline"></ion-icon><span>Adicionar Aula</span>
  </a>
  <a href="/aulas">
    <ion-icon name="book-outline"></ion-icon><span>Aulas</span>
  </a>
  <a href="/menu/cursos">
    <ion-icon name="cog-outline"></ion-icon><span>Cursos</span>
  </a>
  <a href="/logout">
    <ion-icon name="close-circle-outline"></ion-icon><span>Logout</span>
  </a>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</div>